/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define FLR 3
#define ADJ 4

&lt { quick_tap_ms = <219>; };

&mt { quick_tap_ms = <219>; };

/ {
    behaviors {
        tdF: tap_dance_lang1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings = <&kp F>, <&kp LG(F11)>;
        };

        tdJ: tap_dance_lang2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings = <&kp J>, <&kp LG(F12)>;
        };

        lh_pht: left_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <100>;                        // <---[[produces tap if held longer than tapping-term-ms]]
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5>;    // <---[[right-hand keys]]
        };
    };

    combos {
        compatible = "zmk,combos";

        //LangRu {
        //    bindings = <&kp LG(F11)>;
        //    key-positions = <0 1>;
        //    timeout-ms = <20>;
        //};
        //LangUs {
        //   bindings = <&kp LG(F12)>;
        //    key-positions = <10 11>;
        //    timeout-ms = <20>;
        //};
        //LangRuL {
        //    bindings = <&kp LG(F11)>;
        //    key-positions = <36 38>;
        //    timeout-ms = <20>;
        //};
        //LangUsL {
        //    bindings = <&kp LG(F12)>;
        //    key-positions = <39 41>;
        //    timeout-ms = <20>;
        //};
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE       &kp Q  &kp W  &kp E  &kp R      &kp T        &kp Y         &kp U      &kp I              &kp O    &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A  &kp S  &kp D  &kp F      &kp G        &kp H         &kp J      &kp K              &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C  &kp V      &kp B        &kp N         &kp M      &kp COMMA          &kp DOT  &kp FSLH  &kp BACKSPACE
                              &mo 1  &kp SPACE  &kp SPACE    &kp LEFT_ALT  &kp ENTER  &kp RIGHT_BRACKET
            >;
        };

        raise_layer {
            bindings = <
&kp A           &kp TAB         &kp Q   &kp W      &kp E      &kp R          &kp F7        &kp N8        &kp F9        &kp AT_SIGN  &kp HOME      &kp EQUAL
&kp LEFT_SHIFT  &trans          &kp A   &kp S      &kp D      &kp F          &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp DOLLAR   &kp END       &kp PRINTSCREEN
&kp LCTRL       &kp LEFT_SHIFT  &trans  &trans     &kp G      &kp B          &kp F1        &kp F2        &kp NUMBER_3  &kp MINUS    &kp C_VOL_DN  &kp C_VOL_UP
                                        &kp SPACE  &kp SPACE  &kp LG(F12)    &kp A         &kp ENTER     &kp N0
            >;
        };
    };
};
